In [338]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# importing Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB, ComplementNB, CategoricalNB
# importing Logistic Regression Classifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [339]:
# Load data from customers.csv
data = pd.read_csv('customers.csv')
# Data preprocessing
# data = pd.get_dummies(data, columns=['job', 'marital', 'education', 'housing', 'loan'])
# data['y'] = data['y'].map({'no': 0, 'yes': 1})
# data.info()

# data = data.drop(columns=['contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome'])
# data = pd.get_dummies(data, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'y'])
# data.info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45211 non-null  int64
 1   job             45211 non-null  object
 2   marital         45211 non-null  object
 3   education       45211 non-null  object
 4   default         45211 non-null  object
 5   balance         45211 non-null  int64
 6   housing         45211 non-null  object
 7   loan            45211 non-null  object
 8   contact         45211 non-null  object
 9   day             45211 non-null  int64
 10  month           45211 non-null  object
 11  duration        45211 non-null  int64
 12  campaign        45211 non-null  int64
 13  pdays           45211 non-null  int64
 14  previous        45211 non-null  int64
 15  poutcome        45211 non-null  object
 16  y               45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [340]:

# data.columns = data.columns.str.strip()

# # Ensure 'y' column exists
# print(data.columns)

# # Ensure 'y' column exists
# if 'y' in data.columns:
#     data['y'] = data['y'].replace({'no': 0, 'yes': 1})
#     print("Column 'y' exists in the DataFrame")
# else:
#     print("Column 'y' does not exist in the DataFrame")

def preprocess_data(data):
    data = pd.read_csv('customers.csv')
    # data.columns = data.columns.str.lower()
    # data.columns = data.columns.str.replace(' ', '_')
    # data.columns = data.columns.str.replace('(', '')
    # data.columns = data.columns.str.replace(')', '')
    
    binego = ['no', 'yes']
    newInt = binego.insert(0, [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17])
    print(newInt)
    data.columns = data.columns.str.strip()

    data.fillna(0, inplace=True)
    
    data = data.drop(columns=['contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'default'])
    data = pd.get_dummies(data, columns=['job', 'marital', 'education', 'housing', 'loan'])
    # new column
    data.columns = data.columns.str.strip()

    data['y_binary'] = data['y'].str.strip().map({"yes": 1, "no": 0})
    data = data.drop(columns=['y'])
    
    return data
    
# data['y'] = data['y'].map({'no': 0, 'yes': 1})

data = preprocess_data(data)

# data.info()
data.head()

None

,age,balance,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,housing_no,housing_yes,loan_no,loan_yes,y_binary
0,58,2143,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,True,False,0
1,44,29,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,True,True,False,0
2,33,2,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,0
3,47,1506,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,False,0
4,33,1,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,False,0

In [341]:
# List of columns to drop
# columns_to_drop = ['contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome']

# # Drop only the columns that exist in the DataFrame
# data = data.drop(columns=[col for col in columns_to_drop if col in data.columns])
# data.info()
# data.head()

In [342]:
# Ensure 'y' column exists
print(data.columns)

# Ensure 'y' column exists
# if 'y' in data.columns:
#     data['y'] = data['y'].replace({'no': 0, 'yes': 1})
# else:
#     print("Column 'y' does not exist in the DataFrame")


data.head()

Index(['age', 'balance', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'y_binary'],
      dtype='object')

,age,balance,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,housing_no,housing_yes,loan_no,loan_yes,y_binary
0,58,2143,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,True,False,0
1,44,29,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,True,True,False,0
2,33,2,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,0
3,47,1506,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,False,0
4,33,1,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,False,0

In [343]:



# Select the columns using iloc
X = data.iloc[:, :-1]  # All columns except the last one (y)
y = data.iloc[:, -1]   # The last column (y)

X = pd.get_dummies(X)
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# One-hot encode categorical variables
# X_train = pd.get_dummies(X_train)
# X_test = pd.get_dummies(X_test)

### Training Models

In [344]:
# Align the columns of the training and testing datasets
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

In [345]:


# Model training with Logistic Regression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy of Regression: {accuracy * 100:.2f}%')

Accuracy of Regression: 87.91%

In [346]:
from sklearn.preprocessing import MinMaxScaler

# Scale the data to be in the range [0, 1]
# Scale the data to be in the range [0, 1] while keeping column names
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
print(X_test_scaled.columns)
# print(X_test_scaled)

def to_scale(data):
    scaler = MinMaxScaler()
    
    data = scaler.fit_transform(data)
    return data


# Model training with Naive Bayes
model_nb = MultinomialNB()
model_nb.fit(X_train_scaled, y_train)
# Naive Bayes Classifier needed non-negative values

# Predictions
y_pred_nb = model_nb.predict(X_test_scaled)

# Accuracy
accuracy_nb = accuracy_score(y_test, y_pred_nb)
print(f'Accuracy of Naive Bayes: {accuracy_nb * 100:.2f}%')

Index(['age', 'balance', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'housing_no', 'housing_yes', 'loan_no',
       'loan_yes'],
      dtype='object')
Accuracy of Naive Bayes: 87.86%

In [347]:
# Joe's data point
joe_data = {
    'age': 30,
    'job': 'management',
    'marital': 'married',
    'education': 'tertiary',
    'default': 'no',
    'balance': 1500,
    'housing': 'yes',
    'loan': 'no'
}

# Convert Joe's data to a DataFrame
joe_df = pd.DataFrame([joe_data])

# Preprocess Joe's data
joe_df = pd.get_dummies(joe_df)

# Align Joe's data with the training data
joe_df = joe_df.reindex(columns=X_train.columns, fill_value=0)

# Make a prediction
joe_prediction = model.predict(joe_df)

# Output the prediction
loan_status = 'yes' if joe_prediction[0] == 1 else 'no'
print(f'Can Joe get a loan? {loan_status}')

Can Joe get a loan? no

In [348]:
# Show the probability of Joe getting a loan
joe_probability = model.predict_proba(joe_df)[0][1]
print(f'Probability of Joe getting a loan: {joe_probability:.2f}')

Probability of Joe getting a loan: 0.09

In [349]:
# testing Joe's data with Naive Bayes
joe_prediction_nb = model_nb.predict(joe_df)
loan_status_nb = 'yes' if joe_prediction_nb[0] == 1 else 'no'

print(f'Can Joe get a loan with Naive Bayes? {loan_status_nb}')
joe_probability_nb = model_nb.predict_proba(joe_df)[0][1]
print(f'Probability of Joe getting a loan with Naive Bayes: {joe_probability_nb:.2f}')

Can Joe get a loan with Naive Bayes? yes
Probability of Joe getting a loan with Naive Bayes: 1.00